POSTGRES_DB=zerobudget
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

DATABASE_URL=postgres://postgres:postgres@localhost:5432/zerobudget?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/zerobudget?sslmode=disable
GOOSE_MIGRATION_DIR=backend/internal/adapters/postgresql/migrations
GOOSE_TABLE=goose_db_version
